.font {
  font-family: 'Nunito', sans-serif;
}
.pointer {
  cursor: pointer;
}
.bodybg {
  background-color: #313131;
}
.BlueTxt {
  color: #62a7ce;
}
.grayTxt {
  color: #757575;
}
.line {
  border-left: 3px solid rgb(77, 77, 77);
  height: 60vh;
  position: fixed;
  left: 50%;
  top: 20%;
  z-index: 1;
}
.col-6 {
  position: relative;
  z-index: 2;
}
